*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.heading{
    text-align: center;
}

#first-value,#second-value,#third-value{
    width: 300px;
    margin: 50px 20px;
    padding: 20px;
    border: 1px solid black;
    background: grey;
    position: relative;
}

h2{
    border: 1px solid black;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0px;
    top: 0px;
}

p{
    margin-top: 10px;
}

#section-1{
    background-color: pink;
}

#section-2{
    background-color: red;
}

#section-3{
    background-color: cornsilk;
}

@media (min-width:992px){
    .col-lg-4{
        width: 50%;
        float: left;
        
    }
}

@media (min-width:768px) and (max-width:991px){
    .col-md-6{
        width: 50%;
        float: left;
        
    }
}